/*   Colors
        Orange: #D1884F
        Blue: #008AAA
        Light Blue: #3BBADB


*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Inter", sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   transition: all 0.5s ease-in-out;
}

/* Default */
a {
    text-decoration: none;
}



#header {
    height: 250px;
    padding-top: 200px;
    
    /* background-color: antiquewhite; */
    
}

/* Logo and Icons */
.logo {
     height: 300px;
}



/* Nav Links */

ul {
    align-items: center;
 
    
}

.active-link {
    font-size: 1.5em;
    font-style: normal;
    color: #D1884F;
}


ul li .nav-link {
           margin-right: ;
           font-family: "Inter", monospace;
           color: #000;
      
           
        
}

/* Hero Section */

.lead {
        color: #3BBADB;
        margin-bottom: 33px;
        font-family: "Inter", monospace;
}

.special-text {
    color: #D1884F;
    font-style: normal;
    letter-spacing: 10px;
}

/* H1 greeting */
.greeting {
    color: #008AAA;
}

.user-img-section {
    margin-right: -5%;
}

.user-profile {
    width: 500px;
    height: 523px;
    
  
  
}

.info-about {
    margin-bottom: 33px;
    text-align: justify;
    font-family: "Inter";

}

/* Button */

.btn-section {
    margin-top: 5em;
}

 #btn-see-project:hover{
    width: 40.5%;
    background-color: #008AAA;
    color: #fff;
    transition: all 1s ease-in-out;
}
#btn-hire-me:hover{
    width: 30.5%;
    background-color: #fff;
    box-shadow: 3px 3px #008AAA17;
    color: #008AAA;
    transition: all 0.5s ease-in-out;
}

#btn-hire-me {
    width: 30%;
    background: #008AAA;
    box-shadow: 5px 5px #008AAA25;
    color: #fff;
}

#btn-see-project {
    width: 40%;
    border: 2px solid #008AAA;
    color: #008AAA;
    box-shadow: 3px 3px #008AAA17;
}

/* Line separating here section and about me section  */

.line {
         margin: 150px 0 85px 0;
}

/* About me */
.about-me {
    font-size: 2em;
    color: #D1884F;
    position: absolute;
    left: 26%;
   
}

.about-section {
    /* background-color: #008AAA; */
    
    display: flex;
    margin: 10% 0 10% 0;
    flex-flow: row wrap;
   flex-basis: 100px;
    
}

.about-section .educational-profile {

 
     text-align: center;

}

.about {
          font-size: 1.5em;
          font-style: italic;
          font-weight: lighter;
}

/* Educational Section */

.main-title {
    font-size: 2.5em;
    color: #008AAA;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    
}

.sub-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0 8px 0;
}

.sub-text {
    font-style: italic;
    font-size: 1.3em;
}

.skills {
         /* Skills section edit */
         
}


/* Project */

.project-section-h2 {
    position: relative;
    height: 2.5em;
     width: 20%;
    /* left: 40%;  */
   
    padding: 15px 0 10px 0;
    font-size: 2em;
    text-align: center;
    background-color: #D1884F;
    border-bottom-left-radius: 88px;
    border-top-right-radius: 88px;
    color: #fff;
}


.project-section {
    width: 100%;
    height: 80vh;
   
   
}
.project-info {
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: -50%;
    margin-bottom: 34px;
    flex-direction: column;
    justify-content: center;
        background: #7a79797d;
            border-radius: 15px;
            transform: translateX(50px) scale(1.2);
            border-top-left-radius: 60%;
   
    

  
} 

.project-text {
   margin-left: -100px;

}

.project-text p {
     font-size: 1.5em;
     color: #fff;

}

.project-img {
    width: 100%;
    height: 700px;
    border-radius: 20px;
    
   
}

 


